<body class="hold-transition login-page">
<div class="login-box">
	<div class="login-logo">
	  <a href="#"><b>Q</b>ms</a>
	</div>
	<!-- /.login-logo -->
	<div class="login-box-body">
	  <p class="login-box-msg">Sign in to start your session</p>
  
	  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)" class="show-form">

		<!--就把 NgModel 导出成了一个名叫 name 的变量-->
		<div class="form-group has-feedback">
		  <input type="text" class="form-control" name="username" id="username"placeholder="User Id" required 
		  [(ngModel)]="username" [ngModel]="username" (ngModelChange)="username = $event" #name="ngModel" #spy>
		  <span class="glyphicon glyphicon-user form-control-feedback"></span>
		</div>
		<div [hidden]="name.valid || name.pristine" style="color: red">用户名为空</div>

		<!--就把 NgModel 导出成了一个名叫 pass 的变量-->
		<div class="form-group has-feedback">
		  <input type="password" class="form-control" name="password"   id="password" placeholder="Password" required 
		  [(ngModel)]="password" [ngModel]="password" (ngModelChange)="password = $event" #pass="ngModel">
		  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
		</div>
		<div [hidden]="pass.valid || pass.pristine" style="color: red">密码为空</div>

		<div class="row">
			<div class="col-xs-8">
				<div *ngIf="auth?.hasError" style="color: red"> <b>{{auth.errMsg}}</b> </div>
			</div>
		</div>

		<div class="row">
		  <div class="col-xs-8">
			<div class="checkbox icheck"> <label> <input type="checkbox"> Remember Me </label> </div>
		  </div>
		  <!-- /.col -->
		  <div class="col-xs-4">
			<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
		  </div>
		  <!-- /.col -->
		</div>
	  </form>
  
	  <div class="social-auth-links text-center">
		<p>- OR -</p>
		<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
		  Facebook</a>
		<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
		  Google+</a>
	  </div>
	  <!-- /.social-auth-links -->
  
	  <a href="#">I forgot my password</a><br>
	  <a href="register.html" class="text-center">Register a new membership</a>
  
	</div>
	<!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

<div class="login-box" style="font-size: 20px;">
	用户名：feng <br />密码：123456
</div>
</body>