<nav class="toolbar navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header ">
        <div class="btn btn-sm navbar-btn pull-left"><i class="fa fa-pagelines fa-lg" aria-hidden="true"></i></div>
        <a class="navbar-brand collapse navbar-collapse" href="#"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <div class="btn-group">
                <button *ngFor="let action of actions" type="button" class="btn btn-default" (click)="onClick(action.action)">
                    <i class="{{action.icon}}"></i>{{action.action|uppercase}}
                </button>
              </div>
            <!-- <li *ngFor="let action of actions">
                <a (click)="onClick(action.action)" class="btn btn-default" data-toggle="tooltip" title="{{action.action}}">
                    <span><i class="{{action.icon}}">{{action.action|uppercase}}</i></span>
                </a>
            </li> -->
          <li>
            <!--   <form class="navbar-form"><app-search [bVisibleSearch]="bVisibleSearch" (onSubmit)="onSubmit($event)"
                ></app-search></form> -->
            </li>
        </ul>
      </div>
    </div>
  </nav>