<div *ngIf="message" class="modal" tabindex="-1" role="dialog" style="display:block!important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 *ngIf="message?.mode == 'create'" class="modal-title">New Factor</h4>
                <h4 *ngIf="message?.mode == 'edit'" class="modal-title">Edit Factor {{message.key}}</h4>
            </div>
            <div class="box box-primary" [ngStyle]="{'display':visible}">
                <form>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="key" class="control-label">Factor Key</label>
                            <div>
                                <input type="text" class="form-control" name="key" placeholder="Factor Key"
                                    [(ngModel)]="message?.param.key">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label">Factor Name</label>
                            <div>
                                <input type="text" class="form-control" name="factor" placeholder="Factor Name"
                                    [(ngModel)]="message?.param.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="desc" class="control-label">Desc</label>
                            <div>
                                <textarea [(ngModel)]="message?.param.desc" name="desc" class="form-control" rows="5"
                                    placeholder=""></textarea>
                                <!-- <input type="text" class="form-control" name="desc" placeholder="Desc"
                                    [(ngModel)]="message?.param.desc"> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"
                    (click)="message.cancelFn()">Close</button>
                <button type="button" class="btn btn-sm btn-primary" (click)="message.saveFn()">Save</button>
            </div>
        </div>
    </div>
</div>