<!-- Content Header (Page header) -->
<app-content-header [sTitle]="title" [sSmallTitle]="smallTitle" [sPath]="sPath"></app-content-header>
<section class="content">
        <div class="box box-primary">
                <div class="box-header with-border">
                        <h3 class="box-title">Wafer Selection</h3>
                        <small class="pull-right">Date: 2/10/2014</small>

                </div>
                <div class="box-body">
                        <div class="form-group">
                                <!-- <label for="gender" class="control-label col-sm-2"></label> -->
                                <select class="form-control select2 " name="wafer" id="wafer_list"> </select>
                        </div>
                        <app-wafer [waferid]="waferid"></app-wafer>
                </div>

        </div>
</section>